<p id="notice"><%= notice %></p>

<div id="message_basics">
	<!-- TODO programmatic display of message traits based on intelligently-defaulting template attached to presentation, rather than markup for each static trait as done below: -->
	<h3 class="centering"><%= @message.value('subject') %></h3>
	<p class="centering">from: <%= @message.value('sender') %></p>
	<% if @message.message_source %>
		<p class="centering">source: <%= @message.message_source.name %> (<%= @message.message_source.common_name %>)</p>
	<% end %>

      <% @message.traits.each do |trait| %>
        <p><b><%= trait.name %></b>: <%= trait.value %></p>
      <% end %>
</div>