<p id="notice"><%= notice %></p>

<% eval(@message.traits_hash).each do |trait| %>
  <p>
    <b><%= trait[0].to_s %>:</b> 
    <%= trait[1].to_s %>
  </p>
<% end %>
<p>
  <b>Read:</b>
  <%= @message.read %>
</p>

<p>
  <b>Dismissed:</b>
  <%= @message.dismissed %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
