<%= form_for(@always_true_context) do |f| %>
  <% if @always_true_context.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@always_true_context.errors.count, "error") %> prohibited this always_true_context from being saved:</h2>

      <ul>
      <% @always_true_context.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
