<h1><%= @title %></h1>

<table>
  <tr>
    <th>Inbox</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @presentations.each do |presentation| %>
  <tr>
    <td><%= presentation.inbox_id %></td>
    <td><%= link_to 'Show', presentation %></td>
    <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
    <td><%= link_to 'Destroy', presentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Presentation', new_presentation_path %>
