<p id="notice"><%= notice %></p>

<p>
  <b>Rule owner:</b>
  <%= @rule.rule_owner_id %>
</p>

<p>
  <b>Rule owner type:</b>
  <%= @rule.rule_owner_type %>
</p>

<p>
  <b>Name:</b>
  <%= @rule.name %>
</p>

<p>
  <b>Logic:</b>
  <%= @rule.logic %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
