<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rule.name %>
</p>

<p>
  <b>Logic:</b>
  <%= @rule.logic %>
</p>

<p><%= link_to 'presentations for this rule:'+@rule.presentations.count.to_s, presentations_index_for_rule_path(id:@rule) %></p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
