<!DOCTYPE html>
<html>
<head>
  <title>Hermes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="admin">
  Traits: <%= Trait.count %>/10000
  <%= link_to "(clear)", clear_resolved_path %>
</div>

<%= render 'layouts/session' %>

<div id="logo" class="centered">
	<h2><%= link_to " ~ Hermes ~ ", root_url %></h2>
</div>

<% if (current_user && current_user.authorized) || request.fullpath == '/accounts/sign_in' || request.fullpath == '/accounts/sign_up' %>
	<%= render 'layouts/navigation' %>
	<%= yield %>
<% end %>

<% if current_user && !current_user.authorized %>
	<p>Your account is pending approval. Contact the administrator to speed things along.</p>
<% end %>

</body>
</html>
