<%= form_for(@inbox) do |f| %>
  <% if @inbox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inbox.errors.count, "error") %> prohibited this inbox from being saved:</h2>

      <ul>
      <% @inbox.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :messages_expire %><br />
    <%= f.check_box :messages_expire %>
  </div>
  <div class="field">
    <%= f.label :message_expiration_seconds %><br />
    <%= f.number_field :message_expiration_seconds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
