<h1>Listing inboxes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Messages expire</th>
    <th>Message expiration seconds</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inboxes.each do |inbox| %>
  <tr>
    <td><%= inbox.name %></td>
    <td><%= inbox.user.email %></td>
    <td><%= inbox.messages_expire %></td>
    <td><%= inbox.message_expiration_seconds %></td>
    <td><%= link_to 'Show', inbox %></td>
    <td><%= link_to 'Edit', edit_inbox_path(inbox) %></td>
    <td><%= link_to 'Destroy', inbox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inbox', new_inbox_path %>
