<p id="notice"><%= notice %></p>

<h1>inbox: <%= @inbox.name %></h1>

<table>
	<tr>
		<th>Subject</th>
	</tr>
	<% @inbox.messages.each do |m| %>
		<tr>
			<td><%= link_to m.subject,m %></td>
		</tr>	
	<% end %>
</table>

<p><i>end of messages</i></p>

<p><%= link_to 'rules affecting this inbox',rules_index_for_inbox_path(id:@inbox.id) %></p>

<%= link_to 'Edit', edit_inbox_path(@inbox) %> |
<%= link_to 'Back', root_url %>
